{% extends "base.html" %}

{% block content %}
<div class="cozy-card">
    <h2>Enviar mensaje</h2>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <div class="field-error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button class="btn-cute" type="submit">
            Enviar
        </button>
    </form>
</div>
{% endblock %}